<div class="flex justify-center mx-auto w-full sm:w-4/5 md:w-3/5 lg:max-w-screen-lg h-32 rounded bg-gray-50 dark:bg-gray-800">
    <div class="sm:w-3/5 ml-2 p-2"> 
        <div class="grid grid-cols-1 pt-1 sm:grid-cols-10">
            <div class="col-span-8 overflow-hidden rounded-xl sm:bg-gray-50 sm:px-8 sm:shadow">
                <div id="password-form-wrapper">
                    <div class="pt-4">
                        <h1 class="py-2 text-2xl font-semibold">Contraseña</h1>
                        <p class="text-slate-600">Te recomendamos cambiar tu contraseña regularmente.</p>
                    </div>
                    <hr class="mt-4 mb-8">

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div id="password-form">
                        <form id="change-password-form" method="POST" hx-post="{% url 'change_password' %}" hx-target="#password-form-wrapper" hx-swap="outerHTML">
                            {% csrf_token %}
                            {{ password_form.non_field_errors }}
                            <div class="mb-4">
                                <label for="id_old_password" class="block text-sm font-medium text-gray-700">Contraseña antigua:</label>
                                <div class="relative">
                                    {{ password_form.old_password }}
                                    <button type="button" class="absolute inset-y-0 right-0 flex items-center pr-4" onclick="togglePasswordVisibility('id_old_password')">
                                        <svg class="h-5 w-5 text-gray-500" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor">
                                            <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                            <path d="M2.458 12C3.732 7.943 7.522 5 12 5c4.478 0 8.268 2.943 9.542 7-.27.823-.683 1.583-1.207 2.23m-2.74 2.74A9.972 9.972 0 0112 19c-4.478 0-8.268-2.943-9.542-7-.27-.823-.683-1.583-1.207-2.23m5.946-5.945l11.31 11.31" />
                                        </svg>
                                    </button>
                                </div>
                                {{ password_form.old_password.errors }}
                            </div>
                            <div class="mb-4">
                                <label for="id_new_password1" class="block text-sm font-medium text-gray-700">Contraseña nueva:</label>
                                <div class="relative">
                                    {{ password_form.new_password1 }}
                                    <button type="button" class="absolute inset-y-0 right-0 flex items-center pr-4" onclick="togglePasswordVisibility('id_new_password1')">
                                        <svg class="h-5 w-5 text-gray-500" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor">
                                            <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                            <path d="M2.458 12C3.732 7.943 7.522 5 12 5c4.478 0 8.268 2.943 9.542 7-.27.823-.683 1.583-1.207 2.23m-2.74 2.74A9.972 9.972 0 0112 19c-4.478 0-8.268-2.943-9.542-7-.27-.823-.683-1.583-1.207-2.23m5.946-5.945l11.31 11.31" />
                                        </svg>
                                    </button>
                                </div>
                                {{ password_form.new_password1.errors }}
                            </div>
                            <div class="mb-4">
                                <label for="id_new_password2" class="block text-sm font-medium text-gray-700">Contraseña nueva (confirmación):</label>
                                <div class="relative">
                                    {{ password_form.new_password2 }}
                                    <button type="button" class="absolute inset-y-0 right-0 flex items-center pr-4" onclick="togglePasswordVisibility('id_new_password2')">
                                        <svg class="h-5 w-5 text-gray-500" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor">
                                            <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                            <path d="M2.458 12C3.732 7.943 7.522 5 12 5c4.478 0 8.268 2.943 9.542 7-.27.823-.683 1.583-1.207 2.23m-2.74 2.74A9.972 9.972 0 0112 19c-4.478 0-8.268-2.943-9.542-7-.27-.823-.683-1.583-1.207-2.23m5.946-5.945l11.31 11.31" />
                                        </svg>
                                    </button>
                                </div>
                                {{ password_form.new_password2.errors }}
                            </div>
                            <div class="flex justify-center">
                                <button type="submit" class="btn btn-primary bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                    Cambiar Contraseña
                                </button>
                            </div>
                            
                        </form>
                    </div>
                    <hr class="mt-4 mb-8">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function togglePasswordVisibility(fieldId) {
        var field = document.getElementById(fieldId);
        if (field.type === "password") {
            field.type = "text";
        } else {
            field.type = "password";
        }
    }

</script>
